<header>
    <nav>
       <div class="menu-icon">
          <i class="fa fa-bars fa-2x"></i>
       </div>
       <div class="logo">
          LOGO
       </div>
       <div class="menu">
          <ul>
             <li><a href="#">Home</a></li>
             <li><a class="nav-link" [routerLink]="['/chat-room']">Chat Room</a></li>
             <li><a class="nav-link" [routerLink]="['/contact']">Contact</a></li>
             <li><a class="nav-link" [routerLink]="['/login']">Login</a></li>
             <li><a class="nav-link" [routerLink]="['/sign-up']">Sign UP</a></li>          </ul>
       </div>
    </nav>
 </header>
